extends ../layouts/application.pug

block header
  div.text-center
    = t('views.user.new.signUp')

block content
  div.w-50.mx-auto
    +form('post')(action=route('users/create'))
      +input(user, 'email', errors)(type="email", required="required")
      +input(user, 'password', errors)(type="password", required="required", minlength="3")
      +input(user, 'firstName', errors)(type="text", required="required")
      +input(user, 'lastName', errors)(type="text", required="required")
      +submit(user)(value=t('views.user.new.submit'))
