extends ../layouts/application.pug

block header
  div.text-center
    = t('views.user.new.signUp')

block content
  div.w-50.mx-auto
    +formFor()(action=route('users') method='post')
      +input(user, 'email', errors)(type="text", required="required")
      +input(user, 'password', errors)(type="password", required="required")
      +input(user, 'firstName', errors)(type="text", required="required")
      +input(user, 'lastName', errors)(type="text", required="required")
      +submit(user)(value=t('views.user.new.submit'))
