extends ../layouts/application.pug

block header
    div.text-center
        = t('views.label.edit')

block content
    div.w-50.mx-auto
        +form('patch')(action=route('labels/update', { id: label.id }))
            +input(label, 'name', errors)(required)
            +submit()(value=t('buttons.save'))
