extends ../layouts/application.pug

block header
    div.text-center
        = t('views.task.edit')

block content
    div.w-50.mx-auto
        +form('patch')(action=route('tasks/update', { id: task.id }))
            .d-none
                +input(task, 'creatorId', errors, currUserId)(type='hidden')
            +input(task, 'name', errors)(required)
            +textarea(task, 'description', errors)
            +select(task, 'executorId', users, 'id', 'email', t('views.task.nonExecutor'), errors)
            +select(task, 'statusId', taskStatuses, 'id', 'name', '', errors)
            +select(task, 'labels', labels, 'id', 'name', '', errors)(multiple)
            +submit()(value=t('buttons.save'))
