extends ../layouts/application.pug

block header
    div.text-center
      = t('views.session.new.signIn')

block content
  div.w-50.mx-auto
    +formFor()(action=route('session') method='post')
      +input(signInForm, 'email')(type="email", required="required")
      +input(signInForm, 'password')(type="password", required="required", minlength="3")
      +submit(signInForm)(value=t('views.session.new.submit'))
