extends ../layouts/application.pug

block header
    div.text-center
        = t('views.taskStatus.edit')

block content
    div.w-50.mx-auto
        +form('patch')(action=route('taskStatuses/update', { id: taskStatus.id }))
            +input(taskStatus, 'name', errors)(required)
            +submit()(value=t('buttons.save'))
