extends ../layouts/application.pug

block header
    div.text-center
        = t('views.taskStatus.edit')

block content
    div.w-50.mx-auto
        form(method='post')
            input(
                name="_method"
                type="hidden"
                value='patch'
            )
            +input(taskStatus, 'name', errors)(required)
            +submit()(value=t('buttons.save'))
