extends ../layouts/application.pug

block header
    div.text-center
        = t('views.taskStatus.new')

block content
    div.w-50.mx-auto
        +form('post')(action=route('taskStatuses/create'))
            +input(taskStatus, 'name', errors)(required)
            +submit()(value=t('buttons.new'))
